Repository sjnims/cc-plugin-eval: changes, and which Codecov flags are due for each by the changed paths.
All: unit, Stage 1: Analysis, Stage 2: Generation, Stage 3: Execution, Stage 4: Evaluation, Utilities, Configuration, State Management

codecov.yml:

# =============================================================================
# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml
# =============================================================================

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1 # Single CI job, notify after first build

# =============================================================================
# Coverage Configuration
# =============================================================================
coverage:
  precision: 2
  round: down
  range: "65...100" # Lower bound matches vitest branches threshold (65%)

  # ---------------------------------------------------------------------------
  # Status Checks
  # These appear as GitHub status checks on PRs
  # ---------------------------------------------------------------------------
  status:
    project:
      default:
        target: 78% # Match vitest threshold
        threshold: 2% # Allow 2% drop without failing
        base: auto
        if_ci_failed: error
    patch:
      default:
        target: 75% # New code should be well-tested
        threshold: 5% # More lenient for patches
        base: auto

  # ---------------------------------------------------------------------------
  # Ignore Patterns
  # These files are excluded from coverage calculation
  # ---------------------------------------------------------------------------
  ignore:
    - "src/types/**" # Type definitions only
    - "src/index.ts" # CLI entry point
    - "src/**/index.ts" # Re-export modules
    - "**/*.d.ts" # TypeScript declaration files

# =============================================================================
# Flags
# Group coverage by test type
# =============================================================================
flags:
  unit:
    paths:
      - src/
    carryforward: false

# =============================================================================
# Components
# Track coverage per feature area with independent thresholds
# =============================================================================
component_management:
  default_rules:
    statuses:
      - type: project
        target: 70% # Default threshold for components

  individual_components:
    - component_id: stages-analysis
      name: "Stage 1: Analysis"
      paths:
        - src/stages/1-analysis/**

    - component_id: stages-generation
      name: "Stage 2: Generation"
      paths:
        - src/stages/2-generation/**

    - component_id: stages-execution
      name: "Stage 3: Execution"
      paths:
        - src/stages/3-execution/**

    - component_id: stages-evaluation
      name: "Stage 4: Evaluation"
      paths:
        - src/stages/4-evaluation/**

    - component_id: utils
      name: Utilities
      paths:
        - src/utils/**

    - component_id: config
      name: Configuration
      paths:
        - src/config/**

    - component_id: state
      name: State Management
      paths:
        - src/state/**

# =============================================================================
# PR Comments
# Configure how coverage is displayed in PR comments
# =============================================================================
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: true # Only comment if coverage changes
  require_base: true # Require base report for comparison
  require_head: true # Require head report

# =============================================================================
# Parsers
# File parsing configuration
# =============================================================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

feat(tests): add integration tests for Stage 3 execution
  tests/integration/stages/3-execution/index.test.ts
  tests/integration/stages/3-execution/plugin-loader.test.ts
  tests/mocks/sdk-mock.ts
  tests/unit/stages/3-execution/sdk-client.test.ts
Due: none

feat(tests): add integration tests for Stage 3 execution (#28)
  tests/integration/stages/3-execution/index.test.ts
  tests/integration/stages/3-execution/plugin-loader.test.ts
  tests/mocks/sdk-mock.ts
  tests/unit/stages/3-execution/sdk-client.test.ts
Due: none

test(agent-analyzer): add comprehensive tests for state machine fallback parser
  tests/unit/stages/1-analysis/agent-analyzer.test.ts
Due: none

fix(evaluation): propagate variance from runJudgment to metrics
  src/stages/4-evaluation/index.ts
  tests/unit/stages/4-evaluation/index.test.ts
Due: unit, Stage 4: Evaluation

feat(execution): integrate rate limiter for API call protection
  src/config/schema.ts
  src/stages/3-execution/index.ts
  src/types/config.ts
  tests/unit/utils/concurrency.test.ts
Due: unit, Stage 3: Execution, Configuration

docs(config): add documentation for requests_per_second option
  config.yaml
Due: none

refactor(codecov): remove paid features (flags and components)
  .github/workflows/ci.yml
  codecov.yml
Due: none

feat(execution): integrate rate limiter for API call protection (#32)
  .github/workflows/ci.yml
  codecov.yml
  config.yaml
  src/config/schema.ts
  src/stages/3-execution/index.ts
  src/types/config.ts
  tests/unit/utils/concurrency.test.ts
Due: unit, Stage 3: Execution, Configuration

feat: add symlink resolution to plugin path validation
  src/stages/1-analysis/preflight.ts
  src/types/plugin.ts
  tests/unit/stages/1-analysis/preflight.test.ts
Due: unit, Stage 1: Analysis

test: improve symlink test coverage and cleanup
  tests/unit/stages/1-analysis/preflight.test.ts
Due: none

feat(security): add PII filtering for verbose transcript logging
  src/config/defaults.ts
  src/config/schema.ts
  src/stages/3-execution/index.ts
  src/stages/3-execution/progress-reporters.ts
  src/types/config.ts
  src/utils/sanitizer.ts
  tests/unit/utils/sanitizer.test.ts
Due: unit, Stage 3: Execution, Utilities, Configuration

test: add coverage for createSanitizedVerboseProgress
  tests/unit/stages/3-execution/progress-reporters.test.ts
  tests/unit/utils/sanitizer.test.ts
Due: none

feat(evaluation): track actual trigger_accuracy consensus in multi-sampling
  src/stages/4-evaluation/index.ts
  src/stages/4-evaluation/metrics.ts
  src/stages/4-evaluation/multi-sampler.ts
  src/types/evaluation.ts
  tests/unit/stages/4-evaluation/index.test.ts
  tests/unit/stages/4-evaluation/metrics.test.ts
  tests/unit/stages/4-evaluation/multi-sampler.test.ts
Due: unit, Stage 4: Evaluation

docs: document recent features and update test directory structure
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Due: none

docs(readme): address review feedback - clarify config option benefits
  README.md
Due: none

docs: document recent features and update test directory structure (#36)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Due: none

fix: use centralized logger and pricing utilities
  src/stages/2-generation/skill-scenario-generator.ts
  src/stages/3-execution/agent-executor.ts
  tests/unit/stages/2-generation/skill-scenario-generator.test.ts
  tests/unit/stages/3-execution/agent-executor.test.ts
Due: unit, Stage 2: Generation, Stage 3: Execution

fix: use centralized logger and pricing utilities (#43)
  src/stages/2-generation/skill-scenario-generator.ts
  src/stages/3-execution/agent-executor.ts
  tests/unit/stages/2-generation/skill-scenario-generator.test.ts
  tests/unit/stages/3-execution/agent-executor.test.ts
Due: unit, Stage 2: Generation, Stage 3: Execution

test(utils): add unit tests for file-io and logging modules
  tests/unit/utils/file-io.test.ts
  tests/unit/utils/logging.test.ts
Due: none

fix(file-io): ensure parseFrontmatter returns object for empty YAML
  src/utils/file-io.ts
  tests/unit/utils/file-io.test.ts
Due: unit, Utilities

docs: add security considerations section to README
  README.md
Due: none

docs: clarify PII sanitization is disabled by default
  README.md
Due: none

docs(config): add sanitization options to config.yaml
  config.yaml
Due: none

docs: add security considerations section to README (#45)
  README.md
  config.yaml
Due: none

feat(security): validate custom sanitization regex patterns
  src/stages/3-execution/index.ts
  src/utils/sanitizer.ts
  tests/unit/utils/sanitizer.test.ts
Due: unit, Stage 3: Execution, Utilities

docs: address PR review feedback
  src/utils/sanitizer.ts
  tests/unit/utils/sanitizer.test.ts
Due: unit, Utilities

feat(security): validate custom sanitization regex patterns (#46)
  src/stages/3-execution/index.ts
  src/utils/sanitizer.ts
  tests/unit/utils/sanitizer.test.ts
Due: unit, Stage 3: Execution, Utilities

chore: prepare release v0.1.0
  CHANGELOG.md
Due: none

feat: implement hooks evaluation (Phase 2) foundation
  src/config/defaults.ts
  src/config/schema.ts
  src/stages/1-analysis/hook-analyzer.ts
  src/stages/2-generation/batch-calculator.ts
  src/stages/2-generation/hook-scenario-generator.ts
  src/stages/3-execution/hook-capture.ts
  src/stages/4-evaluation/programmatic-detector.ts
  src/types/components.ts
  src/types/config.ts
  src/types/index.ts
  src/types/scenario.ts
  src/types/transcript.ts
  tests/fixtures/valid-plugin/hooks/hooks.json
  tests/unit/config/defaults.test.ts
  tests/unit/stages/1-analysis/hook-analyzer.test.ts
  tests/unit/stages/2-generation/hook-scenario-generator.test.ts
Due: unit, Stage 1: Analysis, Stage 2: Generation, Stage 3: Execution, Stage 4: Evaluation, Configuration

fix: resolve claude_args formatting in PR review workflow
  .github/workflows/claude-pr-review.yml
Due: none

fix: resolve test failures and formatting issues
  CLAUDE.md
  tests/unit/stages/1-analysis/hook-analyzer.test.ts
  tests/unit/stages/4-evaluation/programmatic-detector.test.ts
Due: none

chore: standardize claude_args to single-line format
  .github/workflows/ci-failure-analysis.yml
  .github/workflows/semantic-labeler.yml
Due: none

chore: standardize claude_args to single-line format (#52)
  .github/workflows/ci-failure-analysis.yml
  .github/workflows/semantic-labeler.yml
Due: none
